.cabecera{
    height: auto;
    width: 100%;
}
.cabecera .redes{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
}
.cabecera .redes ul{
    list-style: none;
    display: flex;
    margin-right: 13%;
}
.cabecera .redes ul li a{
    color: black;
    background-color: yellow;   
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a img{
    width: 100px;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    color: black;
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
}
/* BANNER */
.banner{
    width: 100%;
    height: 500px;
    background-image: url("imagenes/banner.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner .poster{
    width: 400px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.478);
    margin: 0;
}
.banner .poster h1,
.banner .poster p,
.banner .poster a{
    color: yellow;
}
.banner .poster h1{
    font-size: 45px;
    margin-top: 0;
}
.banner .poster p,
.banner .poster a{
    font-size: 20px;
}
.banner .poster a{
    padding: 10px;
    border-radius: 15px;
    background-color: yellow;
    color: black;
}
.banner .poster a:hover{
    padding: 10px;
    border-radius: 15px;
    background-color: black;
    color: yellow;
}